@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cu6eqx');
  src:  url('../fonts/icomoon.eot?cu6eqx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cu6eqx') format('truetype'),
    url('../fonts/icomoon.woff?cu6eqx') format('woff'),
    url('../fonts/icomoon.svg?cu6eqx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu-button-of-three-horizontal-lines:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-cog:before {
  content: "\e994";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-youtube:before {
  content: "\ea9d";
}

