@font-face{
	font-family: 'Montserrat-light'; 
	src: url(../fonts/Montserrat-light.ttf); 
 }
body {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Montserrat-light', arial;
	color: #fff;
}
a{
	color:#fff;
	text-decoration: none;
}
a:hover{
	color: #bfab94;
}
img {
	max-width: 100%;
}


.fake-content{
	background: #cccccc;
	height: 100px;
	display: block;
}

.page-bg-mountains{
	width: 100%;
	height: 100vh;
	background: url(../images/slide-1.jpg)no-repeat;
	background-size: cover;
}
.middle-container {
	margin: 0px auto;
  width: 100%;
  max-width: 1129px;
}
.indent-content {
	padding: 0px 10px;
}

.logo{
	width: 20%;
	display: block;
	float: left;
	padding-top: 40px;
}
button.accordion{
	display: none;
}
.menu {
	width: 55%;
	float: right;
	display: block;
	margin-top: 40px;
}
.menu li{
	display: inline-block;
	margin-left: 10px;
  padding-top: 20px;
}


.row{
	display: table;
	width: 100%;
}
.col-4{
	float: left;
	width: 25%;
	padding: 0px 10px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-3{
	float: left;
	width: 33.33%;
	padding: 0px 10px;
	box-sizing: border-box;
	min-height: 30px;
}
.col-2{
	float: left;
	width: 50%;
	padding: 0px 10px;
	box-sizing: border-box;
	min-height: 30px;
}


.grey-big {
	width: 100%;
	height: 150px;
	background: #35261f;
}
.dark-bg {
	background: #555556;
}
.light-bg{
	background: #fbfaf8;
}
.light-bg img{
	max-width: 100%;
	margin-top: 70px;
	vertical-align: bottom;
}
.gradient-bg {
	width: 100%;
	height: 100px;
	background: #35261f;
}
.gradient-bg-big{
	width: 100%;
	height: 150px;
	background: #35261f;
}
.bg-office{
	height: 705px;
	background: url(../images/video-bg.jpg)no-repeat;
}
.iPhone {
	width: 40%;
	text-align: right;
	box-sizing: border-box;
	padding:50px 15px 0px 15px;
	float: left;
}
.iPhone img {
	vertical-align: bottom;
}
.iPhone-sidebar{
	width: 60%;
	box-sizing: border-box;
	padding:50px 15px 0px 15px;
	float: left;
}

.divide-content{
	padding-top: 100px;
	padding-bottom: 100px;
}



footer {
	width: 100%;
	height: 450px;
	background: #191919;
	position: relative;
}
.info {
  padding-top: 50px;
}
.pd-top{
	padding-top: 20px;
}
.images {
  float: right;
  width: 24%;
}
.footer-copyright {
	width: 100%;
	background: #000;
	color: #555555;
	font-size: 13px;
}
.block-left {
	padding: 40px 0px;
	display: inline-block;
}
.wahom {
	color: #959595;
	padding-right: 10px;
	border-right: 1px solid #555555;
}
.privacy {
	padding: 0px 9px;
}
.faq {
	color: #c7b299;
	padding: 0px 10px;
	border-left: 1px solid #555555;
	border-right: 1px solid #555555;
}
.support {
	padding-left: 10px;
}
.block-right {
	float: right;
	padding: 40px 0px;
}
.onlyon {
	padding: 0px 0px 0px 9px;
}
.envato {
	color: #959595;
}

